<div class="container">
  <!-- grabbin colum info -->
  <% sheetInfo.columns.forEach(column =>{ %>
    <% if(column.title == "Task Name"){ %>
      <div class="column-main main">
        <%= column.title %>
      </div>
    <% }else{ %>
      <div class="column-cat main">
        <%= column.title %>
      </div>
    <% } %>
  <% }); %>
  <div class="column-cat main">
    Delete
  </div>
  <hr style="border-width:3px;border-style: solid;">
  <!-- Grabbing individual row info -->
  <% sheetInfo.rows.forEach(row => { %>
    <% var rowID = row.id %>
    <% row.cells.forEach((row, index) =>{ %>
      <% if(index == 0){ %>
        <div class="column-main <%= rowID %>">
          <p data-row="<%= rowID %>" data-editable><%= row.value %></p>
        </div>
      <%} else if(row.columnId === 685622013781892){ %>
        <div class="column-cat">
          <% if(row.value === false){ %>
            <div class="column-cat <%= rowID %>">
              <input type="checkbox" name="done" data-url="/done/<%= rowID %>" onchange="handleChange(this);">
            </div>
          <% }else{ %>
            <div class="column-cat <%= rowID %>">
              <input type="checkbox" name="done" data-url="/done/<%= rowID %>" onchange="handleChange(this);" checked>
            </div>
          <% } %>
        </div>
      <%} else if(index === 3){ %>
        <div class="column-cat <%= rowID %>">
          <select class="<%= rowID %>" name="status">
            <option value="Not Started"<%= row.value=="Not Started"?"selected":''%>>Not Started</option>
            <option value="In Progress"<%= row.value=="In Progress"?"selected":''%>>In Progress</option>
            <option value="Complete"<%= row.value=="Complete"?"selected":''%>>Complete</option>
          </select>
        </div>
      <%} else if(index === 4){ %>
        <div class="column-cat <%= rowID %>">
          <select class="<%= rowID %>" name="tag">
            <option value="Work"<%= row.value=="Work"?"selected":''%>>Work</option>
            <option value="Home"<%= row.value=="Home"?"selected":''%>>Home</option>
            <option value="Volunteering"<%= row.value=="Volunteering"?"selected":''%>>Volunteering</option>
            <option value="Kid's-Stuff"<%= row.value=="Kid's-Stuff"?"selected":''%>>Kid's Stuff</option>
            <option value="Reminder"<%= row.value=="Reminder"?"selected":''%>>Reminder</option>
            <option value="Misc."<%= row.value=="Misc."?"selected":''%>>Misc</option>
          </select>
        </div>
      <% }else{%>
        <div class="column-cat <%= rowID %>">
          <%= row.value %>
        </div>
      <% } %>
    <% }); %>
    <div class="column-cat <%= rowID %>">
      <a class="big-X <%= rowID %>" href="/delete/<%= rowID %>">X</a>
    </div>
    <hr class="<%= rowID %>">
  <% }); %>
  <!-- Form for making new tdo item -->
  <form method="POST" action="/new">
    <label for="Task Name">Task Name</label>
    <input type="text" name="type">

    <label for="Due Date">Due Date</label>
    <input id="dueDate" type="date" name="date">

    <input type='hidden' value='false' name='done'>

    <label for="Tag">Tag</label>
    <select name="tag">
      <option value="Work">Work</option>
      <option value="Home">Home</option>
      <option value="Volunteering">Volunteering</option>
      <option value="Kid's-Stuff">Kid's Stuff</option>
      <option value="Reminder">Reminder</option>
      <option value="Misc.">Misc</option>
    </select>

    <input id="newTodo" type="submit">
  </form>

</div>